.main-container{
    max-width: 1400px;
    margin:0 auto;
}

.announcements{
    background-color: #d8e8e3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
}

.announcements span{
    font-size: 16px;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    max-width: 60%;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-section{
    display: flex;
    margin-bottom: 32px;
}

.text h1, .text h3{
    margin: 0;
    font-weight: 500;
}

.text h1{
    margin-bottom: 24px;
}

.text h3{
    font-size: 19px;
    margin-bottom: 32px;
    text-align: center;
} 

.left-right-section .text{
    width:50%;
    color: #1e3932;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #f1f8f6;
    padding: 32px 48px;
}

.left-right-section .star{
    width: 50%;
}

.left-right-section .star img{
    height: 100%;
   width: 100%;
}

.text .button{
    padding: 7px 14px; 
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2 ease;
}

.text .button:hover{
    background-color: rgba(30,57,50,.1);
}

.chill .text{
    background-color: #f2f0eb;
}

.chill .text h1{
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

.chill .text h3{
    font-weight: 400;
    line-height: 1.75;
    font-size:1.5rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.chill .button{
    font-size: 16px;
    padding: 8px 15px;
}

.top-bottom{
    display: flex;
    width: 50%;
    margin-bottom: 32px;
}
.container{
    display: flex;
}
.section-container{
    display: flex;
    flex-direction: column;
}

.top-bottom .star{
    width: 100%;
    display: flex;
}

.top-bottom .star img{
    width: 100%;
}

.top-bottom .text{
    color: #1e3932;
    background-color: #d4e9e2;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 15px;
    flex-grow: 1;
}

.top-bottom .text h1{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.top-bottom .text h3{
    font-weight: 200;
    line-height: 1.75;
    font-size: 15x;
    max-width: 46.5em;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bottom:first-child .section-container{
    margin-right: 16px;
}

.top-bottom:last-child .section-container{
    margin-left: 16px;
}

.container-self{
    display: flex;
    background-color:#d4e9e2 ;
}
.text1{
    color: rgba(0,0,0,.87);
    padding: 24px 32px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.text1 h1{
    font-size: 25px;
    font-weight: 500;
}

.text1 h3{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 200;
    line-height: 1.75;
    font-size: 19px;
}

.text1 .button1 {
    padding: 7px 14px;
    border:1px solid;
    font-weight: 600;
    border-radius: 50px;
}

.text1 .button1:hover{
    background-color: rgba(0,0,0,.06);
}

.image img{
    width: 100%;
}

.image{
    width: 50%;
}

.add-info{
    color: rgba(0,0,0,.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer-container{
    margin: 0 40px;
}

.offers{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
}

.info{
    max-width: 48%;
    padding-top:15px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.75;
    font-weight: 500;
}

